@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

body {
  background-color: white;
  color: black;
}

/* Dark mode styles */
.dark body {
  background-color: black;
  color: white;
}

@theme {
  --color-textdark: #090909;
  --color-gray: #909090;
  --color-darkgeist: #120029;
  --color-tealPrimary1: #70e3c7;
  --color-tealPrimary2: #11624a;
  --color-tealPrimary3: #66cdaa;
  --color-tealPrimary4: #71e3c7;
  --color-tealPrimary1: #70e3c7;
  --color-tealPrimary2: #11624a;
  --color-tealPrimary3: #66cdaa;
  --color-tealPrimary4: #71e3c7;
  --color-purplePrimary1: #490878;
  --color-purplePrimary2: #dac2ff;
  --color-purplePrimary3: #f3ebffcc;
  --color-purplePrimary4: #4c2480;
  --color-purplePrimary5: #9747ff;
  --color-whitePrimary1: #dbe2e7;
  --color-brownPrimary1: #cd7f32;
  --color-silverPrimary1: #c0c0c0;
  --color-goldPrimary1: #ffd700;
  --color-brownPrimary2: #f5cfcc;
  --color-tealSecondary1: #2eae4e;
  --color-purplePrimary2: #dac2ff;
  --color-purplePrimary3: #f3ebffcc;
  --color-purplePrimary4: #4c2480;
  --color-purplePrimary5: #9747ff;
  --color-whitePrimary1: #dbe2e7;
  --color-brownPrimary1: #cd7f32;
  --color-silverPrimary1: #c0c0c0;
  --color-goldPrimary1: #ffd700;
  --color-brownPrimary2: #f5cfcc;
  --color-tealSecondary1: #2eae4e;
  --color-purpleSecondary1: #090909;
  --color-blackSecondary1: #000000;
  --color-greySecondary1: #666666;
  --color-greySecondary2: #646975;
  --color-whiteSecondary1: #dbe2e8;
  --color-whiteSecondary2: #dbe1e7;
  --color-tealSecondary2: #cbf6ea;
  --color-brownSecondary1: #a0522d;
  --color-silverSecondary1: #a9a9a9;
  --color-goldSecondary1: #daa520;
  --color-greenSecondary1: #0ac660;
  --color-background1: #ffffff;
  --color-background2: #f5f5f5;
  --color-background3: #eefcf8cc;
  --color-whiteSecondary1: #dbe2e8;
  --color-tealSecondary2: #cbf6ea;
  --color-brownSecondary1: #a0522d;
  --color-silverSecondary1: #a9a9a9;
  --color-goldSecondary1: #daa520;
  --color-greenSecondary1: #0ac660;
  --color-background1: #ffffff;
  --color-background2: #f5f5f5;
  --color-background3: #eefcf8cc;
  --color-purplebackground1: #040311;
  --color-success: #2eae4e;
  --color-error: #ce0000;
  --color-walletIcon: #ff875b;
  --color-success: #2eae4e;
  --color-error: #ce0000;
  --color-walletIcon: #ff875b;

  /* Font Sizes */
  --text-sm1: 8px;
  --text-sm2: 14px;
  --text-md: 16px;
  --text-lg: 24px;
  --text-lg2: 32px;
  --text-lg3: 40px;
  --text-lg4: 72px;

  /* padding */

  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 40px;
  --spacing-7xl: 720px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer utilities {
  /* Padding utilities */
  .p-md {
    padding: var(--spacing-md); /*16px*/
  }
  .p-lg {
    padding: var(--spacing-lg); /*24px*/
  }
  .p-xl {
    padding: var(--spacing-xl); /*32px*/
  }
  .p-2xl {
    padding: var(--spacing-2xl); /*40px*/
  }
  .p-7xl {
    padding: var(--spacing-7xl); /*72px*/
  }

  /* Margin utilities */
  .m-md {
    margin: var(--spacing-md);
  }
  .m-lg {
    margin: var(--spacing-lg);
  }
  .m-xl {
    margin: var(--spacing-xl);
  }
  .m-2xl {
    margin: var(--spacing-2xl);
  }
  .m-7xl {
    margin: var(--spacing-7xl);
  }

  /* Padding H (horizontal) utilities */
  .px-md {
    padding-left: var(--spacing-md);
    padding-right: var(--spacing-md);
  }
  .px-lg {
    padding-left: var(--spacing-lg);
    padding-right: var(--spacing-lg);
  }

  /* Padding V (vertical) utilities */
  .py-md {
    padding-top: var(--spacing-md);
    padding-bottom: var(--spacing-md);
  }
  .py-lg {
    padding-top: var(--spacing-lg);
    padding-bottom: var(--spacing-lg);
  }
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
